<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>
		Episode I
	</title>
	<link rel="stylesheet" type="text/css" href="../../Controller/css/bootstrap-filme.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
	<script src="../../Controller/js/app.js" charset="UTF-8" type="text/javascript"></script>

</head>
<body onload="getInfoFilme(1)">
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><img src="../../Model/img/ep4-poster.jpg" style="float:left;width:300px;height:380px;padding:15px;margin-left: -3px">
				<h1 id="titulo"></h1>
				<h2 id="personagens">Personagens: </h2>
				<h2 id="planetas">Planetas: </h2>
				<h2 id="especies">Espécies: </h2>
				<h2 id="naves">Naves espaciais: </h2>

			</li>
		</ul>


	</div>
</body>

</html>