<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>
		Episode IX
	</title>
	<link rel="stylesheet" type="text/css" href="../../Controller/css/bootstrap-filme.css">

</head>
<body>
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><img src="../../Model/img/ep9-poster.jpg" style="float:left;width:300px;height:380px;padding:15px;margin-left: -3px">
				<h1>IX: The Rise Of Skywalker</h1>
				<h1 style="color: lightblue"> Ops! Não temos informações aqui ainda.</h1>
			</li>
		</ul>


	</div>
</body>

</html>